.describe{
  margin-top: 30vh;
  text-align: center;
  height:40vh;
}

.logo{
  margin-right: 20%;
  margin-left: 10%;
}

.card{
  padding: 5vh;
  width: 50vh !important;
  text-align: center;
  float: left;
  height: 100vh;
}

.cards{
  padding-left:8%;
  margin-top: 5vh;
  padding-top: 15vh;
  background-color: #EA5153;
  height: 80vh;
  padding-bottom: 60vh;
  clear: both;
}


.education{
  margin-top:16.0vh; ;
  padding: 5vh;
  width: 50vh !important;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.Projects {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-top: 10vh;
}

.image{
  height: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.form{
  margin-left: 5%;
  width: 60vh;
  margin-bottom: 10vh;
  float: left;
}

.img-circle {
    border-radius: 50%;
    height: 30vh;
}

.me{
  width: 40vh;
  float: left;
  margin-left: 15%;
}

.button-1{
  margin-right: 0.5%;
}

.button-2{
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.button-3{
  margin-left: 0.5%;
  margin-right: 0.5%
}

.hi{
  margin-left: 0.5%;
}

.buttons {
  width: 50vh;
  margin-left: 10%
}
