.describe{
  margin-top: 40vh;
  text-align: center;
  height:40vh;
}

.textWithBlurredBg {
  width: 300px;
  height: 200px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  margin: 4px;
}

.textWithBlurredBg img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 4px;
}

.textWithBlurredBg:hover img {
  filter: blur(2px) brightness(80%);
}

.textWithBlurredBg :not(img) {
  position: absolute;
  z-index: 1;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.textWithBlurredBg p {
  top: 50%;
}

.textWithBlurredBg:hover :not(img) {
  opacity: 1;
}


.logo{
  margin-right: 20%;
  margin-left: 10%;
}
.navbar{
  clear: both;

}
.card{
  padding: 5vh;
  width: 50vh !important;
  text-align: center;
  float: left;
  height: 100vh;
}

.cards{
  padding-left:8%;
  margin-top: 5vh;
  padding-top: 15vh;
  background-color: #EA5153;
  height: 80vh;
  padding-bottom: 60vh;
  clear: both;
}


.education{
  margin-top:16.0vh; ;
  padding: 5vh;
  width: 50vh !important;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.Projects {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-top: 10vh;
}

.image{
  height: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.form{
  margin-left: 5%;
  width: 60vh;
  margin-bottom: 10vh;
  float: left;
  margin-top: 10%;
}

.img-circle {
    border-radius: 50%;
    height: 30vh;
}

.me{
  width: 40vh;
  float: left;
  margin-left: 15%;
  margin-top: 12%;
}

.button-1{
  margin-right: 0.5%;
}

.button-2{
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.button-3{
  margin-left: 0.5%;
  margin-right: 0.5%
}

.hi{
  margin-left: 0.5%;
}

.buttons {
  width: 50vh;
  margin-left: 10%
}
