.describe{
  margin-top: 30vh;
  text-align: center;
  height:40vh;
}

.logo{
  margin-right: 50vh;
  margin-left: 20vh;
}

.card{
  padding: 5vh;
  width: 50vh !important;
  text-align: center;
  float: left;
  height: 100vh;
}

.cards{
  padding-left: 15vh;
  margin-top: 5vh;
  padding-top: 15vh;
  background-color: #EA5153;
  height: 80vh;
}

.education{
  margin-top:16.0vh; ;
  padding: 5vh;
  width: 50vh !important;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}
