<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
    <a class="logo" href="#">
      <img src="./images/LT-logo.png" height="90" alt="">
    </a>
    <div class="buttons">
    <a class="button-1" href="#">
      <img src="./images/button-home.png" height="40" alt="">
    </a>
    <a class="button-2" href="#about">
      <img src="./images/button-about.png" height="40" alt="">
    </a>
    <a class="button-3" href="#projects">
      <img src="./images/button-projects.png" height="40" alt="">
    </a>
    <a class="hi" href="#form">
      <img src="./images/button-sayhi.png" height="40" alt="">
    </a>
    </div>

    </nav>


    <div class="describe">
      <h2>Hi there, my name is Lara and I build websites!</h2>
      <h4>  An aspiring Web developer based in Stockholm </h4>
    </div>

    <div class="cards" id="about">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4>Experience</h4>
          <br>
          <h6>Freelance Software developer </h6>
          <h6>April 2018 - current</h6>
          <p>I build dynamic websites and web applications for various clientele.</p>
          <br>
          <h6>Social Media Management, Bears Ice cream Company</h6>
          <h6>April 2017 - Current</h6>
          <p>I take care of various social media channels for the luxury ice cream brand Bears Ice Cream Company.</p>
          <br>
        </div>
      </div>



      <div class="card" style="width: 18rem;" >
        <div class="card-body">
        <h4>Education</h4>
        <br>
        <h6>Dec 2017 - April 2018</h6>
        <h6>Craft Academy</h6>
        <p>Intense bootcamp training in web development, Sweden</p>
        <br>
        <h6>2014- 2017 </h6>
        <h6>University of Iceland</h6>
        <p>First class honours Bachelor degree in Anthropology. Iceland</p>
        <br>
        <h6>2015 Oxford Brookes University</h6>
        <h6>Oxford Brookes University</h6>
        <p>Exchange semester in Oxford. The United Kingdom</p>
        <br>
      </div>
    </div>

    <div class="card" style="width: 18rem;" >
      <div class="card-body">
        <h4>Skills</h4>
        <br>
        <h6>Ruby on Rails</h6>
        <br>
        <h6>HTML</h6>
        <br>
        <h6>CSS</h6>
        <br>
        <h6>SASS</h6>
        <br>
        <h6>JavaScript</h6>
      </div>
    </div>
  </div>
</div>

<div class="Projects" id="projects">
  <h1>My work ...</h1>
  <br>
  <br>
  <a href="#" class="textWithBlurredBg">
  <img src="./images/first.jpeg">
  <h2>My first website</h2>
  <p>A simple blog site</p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/math.jpeg">
    <h2>Fizz Buzz Challenge</h2>
    <p>A maths game created to teach multiplication to children.</p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/atm.jpeg">
    <h2>The ATM </h2>
    <p>A program built to imitate an ATM.</p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/book.jpeg">
    <h2>Library Challenge</h2>
    <p>A program built to imitate a library.</p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/bmi.jpeg">
    <h2>BMI calculator</h2>
    <p>A BMI calculator using both the metric and the imperial system.</p>
  </a>
  <a href="https://ingloriousbites23.herokuapp.com/" class="textWithBlurredBg">
    <img src="./images/bite.jpeg">
    <h2>Inglorious Bites</h2>
    <p>A web appliaction built for a restaurant</p>
  </a>
  <a href="https://euphonyapp.herokuapp.com/" class="textWithBlurredBg">
    <img src="./images/Euphony.jpeg">
    <h2>Euphony</h2>
    <p>A web application that generates music based on your mood</p>
  </a>
  <a href="https://dreamteam-publications.herokuapp.com/" class="textWithBlurredBg">
    <img src="./images/dream.jpeg">
    <h2>Dream Publications</h2>
    <p>A new website built for an imaginary news Agency</p>
  </a>
  <a href="https://itunes.apple.com/DK/app/id1370912583?mt=8" class="textWithBlurredBg">
    <img src="./images/bennik.png">
    <h2>Ben & Nik invitational</h2>
    <p>A mobile app built for a skiing event </p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/BO.jpg">
    <h2>Bó arkitektar</h2>
    <p>In progress</p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/bear.png">
    <h2>Bears Icecycle</h2>
    <p>In progress</p>
  </a>
  <a href="#" class="textWithBlurredBg">
    <img src="./images/lizzie.jpeg">
    <h2>Fransic Smith at -1</h2>
    <p>In process</p>
  </a>

</div>

<div class="me">
  <img class="img-circle" src="./images/lara.png" alt="">
  <br>
  <br>
  <a class="navbar-button" href="mailto:lara.thordardottir@gmail.com">
    <img class="hi" src="./images/button-sayhi.png" height="50" alt="">
  </a>
  <br>
  <a class="navbar-button" href="https://www.linkedin.com/in/lara-thordardottir/" target="_blank">
    <img class="hi" src="./images/linkedin.png" height="40" alt="">
  </a>
  <a class="navbar-button" href="https://github.com/larathordar" target="_blank">
    <img class="hi" src="./images/github.png" height="40" alt="">
  </a>
  <a class="navbar-button" href="mailto:lara.thordardottir@gmail.com">
    <img class="hi" src="./images/envelope.png" height="50" alt="">
  </a>

</div>

<div class="form" id="form">
  <form action="mailto:lara.thordardottir@gmail.com" method="post" enctype="text/plain">
    <div class="form-group">
      <label for="Input1">Name</label>
      <input type="name" class="form-control" id="Input1" placeholder="Your Name" autocorrect=off autocapitalize=words>
    </div>

    <div class="form-group">
      <label for="Input1">Email address</label>
      <input type="email" class="form-control" id="Input2" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Send!</button>
  </form>
</div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
